<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <router-outlet/>
<nav class="navbar navbar-default">
  <div>
    <button class="logout" (click)="logout()">logout</button>
  </div>
  <div class="container-fluid">
  <ul class="nav navbar-nav">
  <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
  <li> <a class="nav-link" routerLink="/login">Login</a></li>
  <li><a class="nav-link" routerLink="/account">Account</a></li>
  <li><a class="nav-link" routerLink="/profile">Profile</a></li>
  </ul>
  </div>
  </nav>
  <div class="container">
  <router-outlet></router-outlet>
  </div>
</body>
</html>

